.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  margin: 10px auto 0 auto;
  width: 120px;
  height: 140px;
  border-radius: 12px;
}
.imageInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
}
.previewImageContainer {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #64c4c4;
  box-shadow: var(--paper-shadow)
}
.previewImageContainer img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}