.button {
    border: none;
    background: transparent;
    transition: 0.1s ease;
}
.button:hover {
    stroke:#3c4147;
    fill:#3c4147;
    transform: scale(1.1);
}
.button:active {
    transform: scale(0.95);
}