.userContainer {
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  border-radius: 7px;
  height: 100%;
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
.userContainer:hover {
  background-color: #f8f8f8;
}
.textContainer {
  text-align: left;
  min-width: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}