.form {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}
.form > * {
  border-radius: 4px;
  padding: 10px;
  margin: 5px;
}
