.form {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  max-width: 400px;
}
.form > * {
  border: 2px solid var(--shade-b-18);
  border-radius: 4px;
  padding: 10px;
  margin: 5px;
}
