.button {
  border: none;
  background: transparent;
  transition: 0.1s ease;
  cursor: pointer;
}
.buttonInactive {
  border: none;
  background: transparent;
  opacity: 0.5;
}
.button:hover {
  stroke: #3c4147;
  fill: #3c4147;
  transform: scale(1.1);
}
.button:active {
  transform: scale(0.95);
}
.buttonGroup {
  display: flex;
}
