.footer {
  position: absolute;
  top: 100px;
  left: 0;
  background: hsl(0, 0%, 96%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  box-shadow: var(--footer-shadow);
}
